{% extends '/patterns/base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <h2>{{ user.name }}</h2>
    <selector class="lead" style="font-size: 115%">{{ user.about }}</selector><br><br>
    <selector class="lead" style="font-size: 115%"> Музыкальный инструмент: {{ user.instrument }}</selector><br><br>
    {% if current_user.is_authenticated and current_user == user %}
        <a href="/user/edit" class="btn btn-primary register">
            Редактировать профиль
        </a>
        <a href="/user/redact" class="btn btn-primary register">
            Сменить почту или пароль
        </a>
        <a href="/logout" class="btn btn-danger" style="margin-left: auto;">
            выйти
        </a>
    {% endif %}

    {% include 'patterns/news.html' %}

{% endblock %}
