@keyframes go-up-right {   /* назовём анимацию: "go-left-right" */
    from {
        top: 36%;
    }
    to {
        top: calc(96% - 100px);
    }
}
.animation.progress2 {
    animation: go-up-right 4s infinite alternate;
}
@keyframes go-up-down {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    from {
        top: 36%;
    }
    to {
        top: calc(96% - 100px);
    }
}
.animation.progress3 {
    animation: go-up-down 2.5s infinite alternate;
}
@keyframes go {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    from {
        left:6%;
    }
    to {
        left: calc(76% - 70px);
    }
}
.animation.progress4 {
    animation: go 2s infinite alternate;
}
@keyframes go1 {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: scale(1.5);
    }
    40% {
        transform: rotate(270deg);
    }
    40% {
        transform: scale(0.5);
    }
    70%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(360deg);
    }
}