{% extends '/patterns/base.html' %}

{% block content %}
    <h1>О нас</h1> <br>
    <p class="lead" style="font-size: 170%; text-indent: 50px;">Talent_Tinder - это социальная сеть для музыкантов.
        С ней вы сможете легче знакомиться с другими
        талантами вашего региона и создавать творческие коллективы и музыкальные группы.</p>
    <p class="lead" style="font-size: 170%; text-indent: 50px;">Каждый пользователь после регистрации имеет возможность
        писать новости, как открытые, так и приватные. Другие пользователи смогут отреагировать на открытые новости,
    поставив лайк или написав комментарий.</p>
     <p class="lead" style="font-size: 170%; text-indent: 50px;">Каждый, кто написал новость или комментарий
     имеют возможность изменять и удалять их</p>
{% endblock %}