{% extends "base.html" %}

{% block content %}
    <h3>{{ item.title }}</h3>
    <selector class="lead" style="font-size: 115%">
        {{ item.content }}
    </selector>
    <div>
        Автор - {{ item.user.name }}, Дата написания - {{ item.created_date }}
        <strong>Отозвались {{ item.reacted_count }}</strong>
        {% if current_user.is_authenticated and current_user == item.user %}
            <a href="/news/{{ item.id }}" class="btn btn-primary register">
                Изменить
            </a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        {% else %}
            <a href="/response/{{ item.id }}" class="btn btn-primary register">
                Отозватся
            </a>
        {% endif %}
    </div>

{% endblock %}