<!DOCTYPE html>
<img lang="ru">
<head>
    <meta charset="UTF-8">
    <title>LOX</title>


</head>
<img>
<span style="right: 2%;position: absolute;font-size: 22px">Talent_Tinder</span>
<div style="font-size:36px;margin-top: 2%; margin-left: 5%;">Мудрые цитаты:</div>
<div class="cen">
    <div style="font-size:30px;">Алексей Мацкепладзе</div>
    <div style="white-space: pre"></div>
    <div style="font-size:20px;font-family:cursive;white-space: pre"> - "Идёшь покушать - покушай"</div>
    <span style="font-size:18px;">Лёха - Лох</span>
    <span style="padding-left:1%;"> <button class="b1">Подтвердить</button></span>
    <span> <button class="b2">Скопировать</button></span>
</div>
<span class="progress3" style="position: absolute;right:7%;top:24%"><img src="icons8-скрипичный-ключ-100.png"></img></span>
<span class="progress2" style="position: absolute;right:16%;top:46%"><img src=""><img src="icons8-apple-music-90.png"
                                                                                      height="100"
                                                                                      width="100"/></img></span>
<span class="progress" style="position: absolute;left:6%;top:66%"><img src="icons8-басовый-ключ-100.png" height="100"
                                                                       width="100"/></span>
<span class="progress4" style="position: absolute;left:50%;top:72%"><img src="icons8-пластинка-160.png" height="160"
                                                                         width="160"/></span>
<span class="turn1" style="position: absolute;left:20%;top:62%;font-size:50px">Л</span>
<span class="turn2" style="position: absolute;left:23%;top:62%;font-size:50px">Ё</span>
<span class="turn3" style="position: absolute;left:26%;top:62%;font-size:50px">Х</span>
<span class="turn4" style="position: absolute;left:29%;top:62%;font-size:50px">А</span>

<span class="turn5" style="position: absolute;left:35%;top:62%;font-size:50px">Л</span>
<span class="turn6" style="position: absolute;left:38%;top:62%;font-size:50px">О</span>
<span class="turn5" style="position: absolute;left:41%;top:62%;font-size:50px">Х</span>
<span class="progress5" style="position: absolute;left:15%;top:62%"><img src="icons8-палец-вверх-52.png" height="52"
                                                                         width="52"/></span>
<script>

</script>

</body>
</html>











