{% extends "base.html" %}

{% block content %}
    <nav style="margin: 1%">
        <a class="navbar-brand" style="font-size: 170%; font-weight: bold">Профиль</a>
        {% if current_user.is_authenticated %}
        {% endif %}
    </nav>

    <p>
    <H3> Имя пользователя </H3>
    <H4>{{ current_user.name }} </H4>
    </p>

    <p>
    <H3> Логин </H3>
    <H4>{{ current_user.email }} </H4>
    </p>

    <p>
    <H3> Доп. информация о пользователе </H3>
    <H4>{{ current_user.about }} </H4>
    </p>

    <a href="/profile/edit" class="btn btn-primary register">
        Редактировать
    </a>
{% endblock %}
