{% extends "base.html" %}

{% block content %}
<h2><small>Отозватся на новость: </small>{{news_title}}</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.comment.label }}<br>
        {{ form.comment(class="form-control") }}<br>
        {% for error in form.comment.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}