<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/avatar.css') }}">
</head>
<nav style="margin: 4px">
    <a href="/admin/tables/users" class="btn btn-secondary" style="float:left;margin:1px">Users</a>
    <a href="/admin/tables/news" class="btn btn-secondary" style="float:left;margin:1px">News</a>
    <a href="/admin/tables/likes" class="btn btn-secondary" style="float:left;margin:1px">Likes</a>
    <a href="/admin/tables/comments" class="btn btn-secondary" style="float:left;margin:1px">Comments</a>
</nav>
