{% extends '/patterns/base.html' %}

{% block content %}
{% include 'admin/tables/pattern.html' %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">created_date</th>
        <th scope="col">news</th>
        <th scope="col">comms</th>
        <th scope="col">likes</th>
        <th scope="col">---</th>
    </tr>
    </thead>
    <tbody>

    {% for user in users %}
    <tr class="">
        <th scope="row">{{user.id}}</th>
        <td><a href="/user/{{user.id}}">{{user.name}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.get_short_time()}}</td>
        <td><a href="/admin/tables/news?user_id={{user.id}}">news</a></td>
        <td><a href="/admin/tables/comments?user_id={{user.id}}">comments</a></td>
        <td><a href="/admin/tables/likes?user_id={{user.id}}">likes</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}