{% for comment in comments %}
<div class="col-md6 border rounded" style="margin: 1.3%; padding: 10px">
    <div style="display: inline-flex; align-items: center;">
        <img src="{{ comment.user.get_picture_path() }}" class="avatar-smallest">
        <h4 style="margin: 0; padding: 0;"><a href="/user/{{ comment.user.id }}">{{ comment.user.name }}</a></h4>
    </div>
    <div style="font-size: 115%">
        {{ comment.comment }}
    </div>
    <div style="display: flex; align-items: center;">
        <span><small>Дата написания - {{ comment.get_short_time() }}</small></span>
        {% if current_user.is_authenticated and current_user == comment.user %}
        <div style="margin-left: auto;">
            <a href="/comments/edit/{{ comment.id }}" class="btn btn-primary register">
                Изменить
            </a>
            <a href="/comments/delete/{{ comment.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}